<nav class="aiassistant-config__tabs" aria-label="{f:translate(key:'LLL:EXT:ai_assistant/Resources/Private/Language/locallang_config.xlf:templates_backend_config.module_navigation')}">
	<f:if condition="{activeDomain} == 'configuration'">
		<f:then><span class="aiassistant-config__tab is-active"><f:translate key="LLL:EXT:ai_assistant/Resources/Private/Language/locallang_config.xlf:templates_backend_config.tab_configuration" /></span></f:then>
		<f:else><a class="aiassistant-config__tab" href="{actions.configuration}"><f:translate key="LLL:EXT:ai_assistant/Resources/Private/Language/locallang_config.xlf:templates_backend_config.tab_configuration" /></a></f:else>
	</f:if>
	<f:if condition="{activeDomain} == 'diagnostics'">
		<f:then><span class="aiassistant-config__tab is-active"><f:translate key="LLL:EXT:ai_assistant/Resources/Private/Language/locallang_config.xlf:templates_backend_config.tab_diagnostics" /></span></f:then>
		<f:else><a class="aiassistant-config__tab" href="{actions.diagnostics}"><f:translate key="LLL:EXT:ai_assistant/Resources/Private/Language/locallang_config.xlf:templates_backend_config.tab_diagnostics" /></a></f:else>
	</f:if>
	<f:if condition="{activeDomain} == 'indexerStatus'">
		<f:then><span class="aiassistant-config__tab is-active"><f:translate key="LLL:EXT:ai_assistant/Resources/Private/Language/locallang_config.xlf:templates_backend_config.tab_indexer_status" /></span></f:then>
		<f:else><a class="aiassistant-config__tab" href="{actions.indexerStatus}"><f:translate key="LLL:EXT:ai_assistant/Resources/Private/Language/locallang_config.xlf:templates_backend_config.tab_indexer_status" /></a></f:else>
	</f:if>
	<f:if condition="{activeDomain} == 'purge'">
		<f:then><span class="aiassistant-config__tab is-active"><f:translate key="LLL:EXT:ai_assistant/Resources/Private/Language/locallang_config.xlf:templates_backend_config.purge" /></span></f:then>
		<f:else><a class="aiassistant-config__tab" href="{actions.purge}"><f:translate key="LLL:EXT:ai_assistant/Resources/Private/Language/locallang_config.xlf:templates_backend_config.purge" /></a></f:else>
	</f:if>
	<f:if condition="{activeDomain} == 'logs'">
		<f:then><span class="aiassistant-config__tab is-active"><f:translate key="LLL:EXT:ai_assistant/Resources/Private/Language/locallang_config.xlf:templates_backend_config.tab_pipeline_logs" /></span></f:then>
		<f:else><a class="aiassistant-config__tab" href="{actions.logs}"><f:translate key="LLL:EXT:ai_assistant/Resources/Private/Language/locallang_config.xlf:templates_backend_config.tab_pipeline_logs" /></a></f:else>
	</f:if>
</nav>
