<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <div class="js-aiassistant-messages chat-box-messages" role="log" aria-live="polite" aria-relevant="additions"></div>
    <template class="js-aiassistant-user-message-template"><div class="chat-box-message from-user js-aiassistant-message"><span class="chat-box-message-content js-aiassistant-message-content"></span></div></template>
    <template class="js-aiassistant-bot-message-template"><div class="chat-box-message from-bot js-aiassistant-message"><span class="chat-box-message-content js-aiassistant-message-content"></span></div></template>
    <template class="js-aiassistant-typing-template"><span class="chat-box-typing-dots" aria-label="{f:translate(key:'LLL:EXT:ai_assistant/Resources/Private/Language/locallang.xlf:templates_index_index.loading')}"><span class="dot"></span><span class="dot"></span><span class="dot"></span></span></template>

</html>
